.category {
    padding-bottom: 80px;
    padding-top: 80px;   
}
.category-card {
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 130px;
    padding: 20px 20px 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}
.category-card h2 {
    margin-bottom: 50px;
}
.category-card-link {
    position: relative;
   font-size: 14px;
   color: #C4C4C4;
   line-height: 17px;
}
.category-card-link::after {
    display: block;
    position: absolute;
    content: "";
    top: 4px;
    right: -9px;
    width: 6px;
    height: 9px;
    background-image: url(./../../img/icons/back.svg);
    background-repeat: no-repeat;
}

.category-card-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.category-search {
    display: flex;
    flex-direction: column;
}
.search-wrapper {
    display: flex;
    margin-bottom: 80px;
}