.input {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 12px;
    font-size: 14px;
    background-color: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
}

.input--gray-bg {
    display: block;
    background-color: #F0F0F4;
    border-radius: 3px;
    width: 1025px;
    padding: 15px 0 15px 20px;
}