.popular-products {
    margin-bottom: 80px; 
}
.popular-products h2 {
    margin-bottom: 25px;
}

.popular-products-sort {
    display: flex;
    margin-bottom: 35px;
}
.popular-products-sort li {
    margin-right: 50px;
}
.popular-products-sort a {
    color: #2F3035;
}

.popular-products-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 20px;

}
.popular-products-cards a {
    color: #2F3035;
}


.cards {
    position: relative;
    width: 271px;
    height: 403px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}
.liked-product {
    position: absolute;
    display: block;
    top: 16px;
    right: 19px;
}
.popular-products-cards-img {
    margin-top: 15px;
    margin-bottom: 14px;
    object-fit: fill;
}
.cards h4 {
    margin-bottom: 20px;
}
.cost{
    font-size: 30px;
    font-weight: 700;
}

.sale {
    display: block;
    width: 63px;
    height: 25px;
    padding-top: 5px;
    color: #FFF;
    font-size: 12px;
    background-color: #1C62CD;
}

.cart {
    display: block;
    position: absolute;
    width: 60px;
    height: 40px;
    padding: 10px 15px 10px 15px;
    background-color: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 0px;
}

.cart::before {
    content: '';
    background-image: url(./../../img/icons/white-cart.png);
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 40px;
}
