.social-network a {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.social-network a.img:first-child {
    height: 30px;
}
.social-network {
    height: 30px;
    font-size: 0px;
    vertical-align: middle;
    align-items: baseline;
}

.img-center {
    vertical-align: center;
}
.imgHeight {
    height: 30px;
}